{% if tag == 'nina' %}
<li>
  <span class="dot" style="background-color: #f8f3e9"></span>
  <span class="dot" style="background-color: #ffcd34"></span>
  <span class="dot" style="background-color: #cb9932"></span>
</li>
{% endif %} {% if tag == 'ir' %}
<li>
  <span class="dot" style="background-color: #000000"></span>
  <span class="dot" style="background-color: #696969"></span>
  <span class="dot" style="background-color: #a9a9a9"></span>
</li>
{% endif %} {% if tag == 'camelot' %}
<li>
  <span class="dot" style="background-color: #e9d415"></span>
  <span class="dot" style="background-color: #ffab8a"></span>
  <span class="dot" style="background-color: #8ae0ce"></span>
  <span class="dot" style="background-color: #0a8b5d"></span>
</li>
{% endif %} {% if tag == 'barks' %}
<li>
  <span class="dot" style="background-color: #f4c6c6"></span>
  <span class="dot" style="background-color: #f59493"></span>
  <span class="dot" style="background-color: #d5c52a"></span>
  <span class="dot" style="background-color: #a4dad0"></span>
</li>
{% endif %} {% if tag == 'genius' %}
<li>
  <span class="dot" style="background-color: #00b9ee"></span>
  <span class="dot" style="background-color: #616161"></span>
  <span class="dot" style="background-color: #f2c94c"></span>
  <span class="dot" style="background-color: #31a354"></span>
</li>
{% endif %} {% if tag == 'hackathon' %}
<li>
  <span class="dot" style="background-color: #ce4db4"></span>
  <span class="dot" style="background-color: #56cee2"></span>
  <span class="dot" style="background-color: #2c7fb8"></span>
  <span class="dot" style="background-color: #e1e4f0"></span>
</li>
{% endif %} {% if tag == 'emoji' %}
<li>
  <span class="dot" style="background-color: #fb8c00"></span>
  <span class="dot" style="background-color: #fbd043"></span>
  <span class="dot" style="background-color: #4c4c4c"></span>
</li>
{% endif %} {% if tag == 'pantry' %}
<li>
  <span class="dot" style="background-color: #ffeded"></span>
  <span class="dot" style="background-color: #ec863c"></span>
  <span class="dot" style="background-color: #27b4bd"></span>
  <span class="dot" style="background-color: #e0afe8"></span>
</li>
{% endif %} {% if tag == 'lifelink' %}
<li>
  <span class="dot" style="background-color: #e5e5e5"></span>
  <span class="dot" style="background-color: #f98633"></span>
  <span class="dot" style="background-color: #f3b5b5"></span>
  <span class="dot" style="background-color: #a372d4"></span>
</li>
{% endif %} {% if tag == 'etiquette' %}
<li>
  <span class="dot" style="background-color: #2f245b"></span>
  <span class="dot" style="background-color: #655cbc"></span>
  <span class="dot" style="background-color: #a5a5db"></span>
  <span class="dot" style="background-color: #d9d9ff"></span>
</li>
{% endif %} {% if tag == 'peaches' %}
<li>
  <span class="dot" style="background-color: #ffe783"></span>
  <span class="dot" style="background-color: #ffb380"></span>
  <span class="dot" style="background-color: #ff9b57"></span>
  <span class="dot" style="background-color: #f86a3c"></span>
</li>
{% endif %} {% if tag == 'games' %}
<li>
  <span class="dot" style="background-color: #333333"></span>
  <span class="dot" style="background-color: #838383"></span>
  <span class="dot" style="background-color: #e0e1e0"></span>
  <span class="dot" style="background-color: #77c043"></span>
</li>
{% endif %} {% if tag == 'mom' %}
<li>
  <span class="dot" style="background-color: #ffcb65"></span>
  <span class="dot" style="background-color: #ef4770"></span>
  <span class="dot" style="background-color: #abc038"></span>
  <span class="dot" style="background-color: #4bc3cb"></span>
</li>
{% endif %} {% if tag == 'update' %}
<li>
  <span class="dot" style="background-color: #5b670f"></span>
  <span class="dot" style="background-color: #81950b"></span>
  <span class="dot" style="background-color: #dbff00"></span>
  <span class="dot" style="background-color: #540909"></span>
</li>
{% endif %} {% if tag == 'scicom' %}
<li>
  <span class="dot" style="background-color: #ffd600"></span>
  <span class="dot" style="background-color: #dcc5f3"></span>
  <span class="dot" style="background-color: #b28cd9"></span>
  <span class="dot" style="background-color: #380070"></span>
</li>
{% endif %} {% if tag == 'pfas' %}
<li>
  <span class="dot" style="background-color: #ddf7ff"></span>
  <span class="dot" style="background-color: #62dcf6"></span>
  <span class="dot" style="background-color: #0098a1"></span>
  <span class="dot" style="background-color: #4d7eff"></span>
</li>
{% endif %} {% if tag == 'a11y' %}
<li>
  <span class="dot" style="background-color: #f6b304"></span>
  <span class="dot" style="background-color: #a37500"></span>
  <span class="dot" style="background-color: #14bf96"></span>
  <span class="dot" style="background-color: #0a2a66"></span>
</li>
{% endif %} {% if tag == 'bird' %}
<li>
  <span class="dot" style="background-color: #ee2a7b"></span>
  <span class="dot" style="background-color: #292a71"></span>
  <span class="dot" style="background-color: #00a79d"></span>
  <span class="dot" style="background-color: #716fb3"></span>
</li>
{% endif %} {% if tag == 'housewarming' %}
<li>
  <span class="dot" style="background-color: #aabf00"></span>
  <span class="dot" style="background-color: #5b6400"></span>
  <span class="dot" style="background-color: #f07f7f"></span>
  <span class="dot" style="background-color: #9b001a"></span>
</li>
{% endif %} {% if tag == 'gouache' %}
<li>
  <span class="dot" style="background-color: #d9c579"></span>
  <span class="dot" style="background-color: #b8706c"></span>
  <span class="dot" style="background-color: #6c381b"></span>
  <span class="dot" style="background-color: #395c40"></span>
</li>
{% endif %} {% if tag == 'doug' %}
<li>
  <span class="dot" style="background-color: #e2c7b3"></span>
  <span class="dot" style="background-color: #cc945c"></span>
  <span class="dot" style="background-color: #a3795d"></span>
  <span class="dot" style="background-color: #534741"></span>
</li>
{% endif %} {% if tag == 'carmen' %}
<li>
  <span class="dot" style="background-color: #ff00ff"></span>
  <span class="dot" style="background-color: #d9e021"></span>
  <span class="dot" style="background-color: #06c9b6"></span>
  <span class="dot" style="background-color: #662d91"></span>
</li>
{% endif %} {% if tag == 'trees' %}
<li>
  <span class="dot" style="background-color: #416661"></span>
  <span class="dot" style="background-color: #549e63"></span>
  <span class="dot" style="background-color: #a6d561"></span>
  <span class="dot" style="background-color: #a1d499"></span>
</li>
{% endif %} {% if tag == 'wedding' %}
<li>
  <span class="dot" style="background-color: #ff3973"></span>
  <span class="dot" style="background-color: #f9d748"></span>
  <span class="dot" style="background-color: #61c700"></span>
  <span class="dot" style="background-color: #73dae5"></span>
  <span class="dot" style="background-color: #7700ce"></span>
</li>
{% endif %} {% if tag == 'ux' %}
<li>🖼️ UI/UX Design</li>
{% endif %} {% if tag == 'data' %}
<li>🗄️ Data Science</li>
{% endif %} {% if tag == 'illustration' %}
<li>🖌 ️Illustration</li>
{% endif %} {% if tag == 'branding' %}
<li>🕴 Branding</li>
{% endif %} {% if tag == 'code' %}
<li>👾 Application Code</li>
{% endif %} {% if tag == 'front-end' %}
<li>🏓 Front-end Development</li>
{% endif %} {% if tag == 'festival' %}
<li>🎪 Art Festival</li>
{% endif %} {% if tag == 'ceramics' %}
<li>🏺 Ceramics</li>
{% endif %} {% if tag == 'postal' %}
<li>📬 Postal</li>
{% endif %} {% if tag == 'talk' %}
<li>🎤 Presentation</li>
{% endif %} {% if tag == 'research' %}
<li>🔬 Background Research</li>
{% endif %}
